// views/details.ejs
<%- include('includes/head',{ pageTitle: article.title, pageStyle: 'details.css' }) %>
<%- include('includes/navigation') %>

<main class="content">
  <section class="hero-section">
    <h1><%= article.title %></h1>
    <img src="<%= article.image %>" alt="<%= article.title %>">
    <div class="writing">
      <p><%= article.content %></p>
    </div>
  </section>

  <aside class="right-sidebar">
    <div class="latest">
      <h2>RELATED ARTICLES</h2>
      <% relatedArticles.forEach(related => { %>
        <a href="/details/<%= related._id %>">
          <p><strong><%= related.title %></strong></p>
        </a>
      <% }) %>
    </div>
  </aside>
</main>